@use '../globals/variables' as v;
@use '../globals/mixins' as m;

.imagen-fondo{
    background: url(https://corporate.enelx.com/content/dam/global/detail-page/smart-city/hero-smart-city/hero-smart-city-desk.jpg);
    background-position: center center;
    background-repeat: no-repeat; 
    max-width: 80rem;  
        border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin: 0 auto;
}

#clima-display{
    width: 100%;
    
    padding: 2rem;

    display: grid;

    grid-template-areas: "hora . temperatura img"
                "lugar . descripcion descripcion";
    color: v.$blanco;

    user-select: none;

    background-color: rgba(0, 0, 0, 0.5);
}

p, button{
    margin: 0;
    color: v.$blanco;
}


#fecha{
    grid-area: hora;
    font-size: 6rem;
}

#lugar{
    grid-area: lugar;
    font-size: 3rem;
    font-weight: 500;
}

#temperatura{
    grid-area: temperatura;
    background-color: transparent;
    border: none;
    height: fit-content;
    align-self: center;
    justify-self: end;
    width: 20rem;
    font-size: 6.5rem;
}

#descripcion{
    grid-area: descripcion;
    font-size: 2rem;
    justify-self: end;
    align-self: end;
}

#imagen{
    grid-area: img;
    grid-row: 1;
    width: 100%;
    border-radius: 100%;
}
